<!DOCTYPE html>
<html>
<head>
  <title>Getascribe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<nav class="navbar navbar-inverse navbar-embossed">
<% if user_signed_in? %>
<div class="navbar-header">
  <a class="navbar-brand" href="#"><%= current_user.email %></a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
  <ul class="nav navbar-nav navbar-left">
  <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
  </ul>
  </div>
<% else %>
 <div class="collapse navbar-collapse" id="navbar-collapse-01">
 <ul class="nav navbar-nav navbar-left">
 <li> <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
 <li> <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
 </ul>
 </div>
<% end %>
</nav>
<%= yield %>

</body>
</html>
